<div class="panel-teams">
    <h2>Võistkondade haldamine</h2>
        <table class="table">
    <thead>
    <tr>
        <th>Nimi</th>
        <th>Riik</th>
        <th>Sport</th>
        <th>E-mail</th>
        <th>Leisundiliik</th>
        <th>Reg. kp.</th>
        <th>Kirjeldus</th> 
        <th>Muutja</th>
        <th>Edit</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="team in teams" ng-class="{'team-active': team.state =='aktiivne' ,
        'team-inactive': team.state =='mitteaktiivne', 'team-retired': team.state =='laiali_saadetud'}">
        <td>{{team.name}}</td>
        <td>{{team.country}}</td>
        <td>{{team.sport}}</td>
        <td>{{team.email}}</td>
        <td>
            <select class="form-control"
                    ng-model="team.state"
                    ng-options="state.stateName as state.stateName for state in getStatesForTeam(team.state)"
                    ng-change="changeTeamState(team)"
                    ng-disabled="getStatesForTeam(team.state).length < 2"></select>
        </td>
        <td>{{team.regDate}}</td>
        <td>{{team.description}}</td>
        <td>{{team.changer}}</td>
        <td><span ng-show="team.state =='mitteaktiivne'" ng-click="editTeam(team)" class="btn btn-success glyphicon glyphicon-edit"/></td>
    </tr>
    </tbody>
</table>
</div>