<ul class="menu-nav-list">
    <li>
        <a ui-sref="activeTeams" ng-class="$root.left_menu_active == 'activeTeams' ? 'active' : ''" href>
            <span class="ico-block comps-ico"></span>
            Aktiivsed võistkonnad
        </a>
    </li>
    <li>
        <a ui-sref="allTeams" ng-show="authorised" ng-class="$root.left_menu_active == 'allTeams' ? 'active' : ''" href>
            <span class="ico-block comps-ico"></span>
            Võistkondade haldamine
        </a>
    </li>
    <li>
        <a ui-sref="newTeam" ng-show="authorised" ng-class="$root.left_menu_active == 'newTeam' ? 'active' : ''" href>
            <span class="ico-block comps-ico"></span>
            Võistkonna lisamine
        </a>
    </li>
    <li>
        <a ui-sref="editTeam" ng-show="authorised && $root.left_menu_active == 'editTeam'" ng-class="$root.left_menu_active == 'editTeam' ? 'active' : ''" href>
            <span class="ico-block comps-ico"></span>
            Võistkonna muutmine
        </a>
    </li>
    
</ul>