<div>
    <span ng-show="!authorised" class="pull-right">

        <form class="navbar-form navbar-right" role="search" ng-submit="login(username,password)">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="username" placeholder="Kasutajanimi">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" ng-model="password" placeholder="Parool">
            </div>
            <button type="submit" class="btn btn-default">Logi sisse</button>
        </form>
    </span>
    <span ng-show="authorised" class="navbar-form navbar-right">
        <div class="form-group top-menu user-name">{{worker.firstName}} {{worker.lastName}}</div>
        <button ng-click="logout()" class="btn btn-default">Logi välja</button>
    </span>
</div>